#eraseframe{
    background-color: rgb(230, 230, 233);
    margin-bottom: 40px;
    padding-bottom: 20px;
    border: 1px solid rgb(206, 205, 205);
}

#nametoerase{
    font-size: 18px;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;

}

#erasebutton{
    height: 35px;
    margin-top: 10px;
}