#loginHeader{
    text-align: center;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}


#loginForm{
    width: 25%;
    margin: auto;
    background-color: rgb(241, 241, 241);
    margin-top: 100px;
    box-sizing: border-box;
    border: 1px lightgray solid;
    border-radius: 5px;

}

#loginBtn{
    font-size: 18px;
    margin: 15px 0;
    background-color: rgb(164, 8, 255);
    box-sizing: border-box;
    
}

