
#taskList{
    border: 1px black solid;
    padding: 30px;
}

#taskList th{
    font-size: 16px;
}

#taskList td{
    font-size: 14px;
}

@media screen and (max-width:414px){
    #taskList th{
        font-size: 14px;
    };

     #taskList td{
        font-size:12px;
    }

}