@import './base/settings';
@import './base/base';
@import './components/header';
@import './components/footer';
@import './components/taskstravels';
@import './components/taskList';
@import './components/taskListItem';
@import './components/taskspage';
@import './components/FilterComponent';
@import './components/taskForm';
@import './components/travelList';
@import './components/travelspage';
@import './components/travelform';
@import './components/editTravel';
@import './components/login';
@import './components/signup';